<md-dialog aria-label="List dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Patient Activities for: {{first_name}} {{last_name}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="dialog-content">
        <md-card ng-if="showDetail" layout-padding>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Oveall intensity {{detail[0].intensity}}</span>
                    <span class="md-headline md-subhead" ng-repeat="detail in detail[0].detail">{{detail.type}} - {{detail.minutes}} minutes</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-card ng-if="!showDetail" layout-padding>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Select an activity for details</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-list class="scrollable-content">
            <md-list-item class="md-3-line" ng-repeat="activity in summary" ng-click="showActivityDetail(activity.activity_detail)">
                <p>{{activity.date | date : format}}</p>
                <p>{{activity.result}}</p>
                <p>{{activity.activity_detail[0].intensity}}</p>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>
