<div layout="column">
    <header>
        <navbar title="main.title"></navbar>
    </header>
    <md-content layout="column" layout-align="center center">
        <md-card>
            <md-card-content>
                <md-input-container class="search-width">
                    <label>Search</label>
                    <input type="text" ng-model="main.filter.search">
                </md-input-container>
                <md-table-container>
                    <table class="table-hover" md-table md-row-select multiple md-progress="promise">
                        <thead md-head md-order="main.query.order">
                            <tr md-row>
                                <th md-column md-order-by="patient_id"><span>Patiend ID.</span></th>
                                <th md-column md-order-by="first_name"><span>Name</span></th>
                                <th md-column md-order-by="last_name"><span>Surname</span></th>
                                <th md-column md-order-by="gender"><span>Gender</span></th>                                
                                <th md-column md-order-by="date_of_birth">Date Of Birth</th>
                                <th md-column md-order-by="race"><span>Race</span></th>
                                <th md-column md-order-by="language"><span>Language</span></th>
                                <th md-column md-order-by="maritial_status"><span>Maritial Status</span></th>
                                <th md-column md-order-by="maritial_status"><span>Last 3 days condition</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select-id="name" md-auto-select ng-repeat="patient in filteredPatients = (main.patients | filter: main.filter.search| orderBy: main.query.order | limitTo: main.query.limit : (main.query.page -1) * main.query.limit )" 
                            ng-class="{'not-good-condition': !main.getLast3DaysConditions(patient.summary)}"
                            ng-click="main.clickRow(patient.id, patient.first_name, patient.last_name)">
                                <td md-cell>{{patient.patient_id}}</td>
                                <td md-cell>{{patient.first_name}}</td>
                                <td md-cell>{{patient.last_name}}</td>
                                <td md-cell>{{patient.gender}}</td>
                                <td md-cell>{{patient.date_of_birth | date : format}}</td>
                                <td md-cell>{{patient.race}}</td>
                                <td md-cell>{{patient.language}}</td>
                                <td md-cell>{{patient.maritial_status}}</td>
                                <td md-cell>{{main.getLast3DaysConditions(patient.summary) ? 'Good': 'Not Good'}}</td>
                            </tr>
                            <tr  ng-hide="filteredPatients.length"><td></td><td>No Patients with this search!</td></tr>
                        </tbody>
                    </table>

                </md-table-container>
                <md-table-pagination md-limit="main.query.limit" md-limit-options="[5, 10, 15]" md-page="main.query.page" md-total="{{main.patients.length}}" md- md-page-select></md-table-pagination>
            </md-card-content>
        </md-card>
    </md-content>
</div>

