
.search-width{
	margin:15px;
	width: 600px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: 	#F5F5DC;
}

.not-good-condition {
    background-color: rgba(255, 188, 188, 0.5);
}
